{% extends "default.html" %}

{% block page_title %}Lista de Clientes{% endblock page_title %}

{% block content %}
  <h1> Lista de Clientes </h1>
  {% if customer_list %}     
    <div class="table-responsive-sm">       
      <table class="table table-striped-columns table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">CNPJ</th>
              <th scope="col">Razao Social</th>              
              <th scope="col">Nome Fantasia</th>
                          
              <th scope="col">Telefone</th>
              <th scope="col">E-mail</th>
              <th scope="col">Vendedor</th></td>
              <th scope="col">Tipo</th>              
              <th scope="col">Classe</th>
              <th scope="col">Status</th>
              <th scope="col">Cond. Pag.</th>
              <th scope="col">Lista Preço</th>
              <th scope="col">Observação</th>
              
              
              <!--
              <th scope="col">Criado em</th>
              --> 
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody  class="table-group-divider">
            {% for customer in customer_list %}
              <tr>
                  <th scope="row"> {{ customer.pk }} </th>
                  <td> {{ customer.xCustomerDocument }} </td>
                  <td> {{ customer.cCustomerName }} </td>                  
                  <td> {{ customer.cCustomerShortName }} </td>
                  <td> {{ customer.cPhone }} </td>
                  <td> {{ customer.cEmail }} </td>
                  <td> {{ customer.idSalesMan }} </td>
                  <td> {{ customer.xCustomerType }} </td>
                  <td> {{ customer.xCustomerClass }} </td>
                  <td> {{ customer.xCustomerStatus }} </td>
                  <td> {{ customer.xPaymentCondition }} </td>
                  <td> {{ customer.xListPrice }} </td>
                  <td> {{ customer.cObservation }} </td>
                  
                  <td>    
                                   
                      <a href="{% url 'customer_update' pk=customer.pk %}" class="btn btn-secondary btn-sm">Editar</a>
                      <a href="{% url 'customer_delete' pk=customer.pk %}" class="btn btn-danger btn-sm">Delete</a>
                      <a href="{% url 'contact_list' %}" class="btn btn-primary btn-sm">Contatos</a>
                      
                  </td>                    
              </tr>
              {% endfor %}                    
          </tbody>
      </table>
    </div>
  {% else %}
    <ul> Não há Clientes Cadastrados. </ul>
  {% endif %}

  <a href="{% url 'customer_create' %}" class="btn btn-success btn-sm">Novo Cliente</a>
{% endblock content %}